.page-header{
    padding: 5px 0 15px;
}

.bg-andro{
    background-image: url(../img/andro_cms_1920_1211.jpg);
    background-size: cover;
}

.table th{
    text-align: center;
}

.pagination{
    justify-content: flex-end;
}

.invalid-feedback{
    display: block;
}


#questions-area .card-header {
    cursor: move;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#questions-area .card-header .panel-title {
    flex: 1 1 1px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 15px;
}

.answers {
    padding: 0;
}
.answers li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    /*padding: 0;*/
    list-style-type: none;
}

.answer .move-icon{
    cursor: move;
}

.answer .move-icon, .answer .form-check-input2{
    margin-right: 5px;
}
.answer .answer-del{
    margin-left: 5px;
}

.table thead th {
    vertical-align: middle;
}

.custom-control-label{
    cursor: pointer;
}

.hexa-button-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-nav .active{
    color: #adb5bd!important;
    background: #212529;
    position: relative;
}

.navbar-nav .active:before{
    position: absolute;
    content: " ";
    height: 100%;
    top: 0;
    left: 0;
    border-left: 2px solid #007bff;
}

.btn-filter{
    width: 100%;
    max-width: 80px;
}

.access-image{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

footer.sticky-footer {
    line-height: 1.5;
    font-size: 12px;
}

footer.sticky-footer .container{
    height: 100%;
}

footer.sticky-footer .container .text-center{
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-additional li{
    padding-bottom: 15px;
}

.admin-additional li:last-child{
    padding-bottom: 0;
}

@media (min-width: 992px){
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
        padding: 8px;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
        padding: 8px;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a {
        padding-left: 2.75em;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
        padding-left: 3.75em;
    }
}

.content-wrapper {
    background: #eee;
}

.scroll-box{
    max-height: 500px;
    overflow-y: scroll;
}
