.sign{
    background-image: url(/assets/img/andro_cms_1920_1211.jpg);
    background-size: cover;
}

    .filter-line{
        background: #eee;
    }
    .filter-line th{
        padding: 4px;
    }
    th{
        text-align: center;
    }
    .list-icons button{
        border: 0;
        background: transparent;
        cursor: pointer;
    }
.pagination{
    flex-grow: 1;
    justify-content: flex-end;
}

.scroll-box{
    max-height: 500px;
    overflow-y: scroll;
}

.body-sources td, .body-keywords td{
    padding: 4px;
}

.remove-source{
    border: 0;
    background: transparent;
}
.autoresize{
    overflow: hidden;
    min-height: 300px;
}

/* GotoTop */
#GotoTop {
    /*background-color: #324148;*/
    background: #202b30;
    text-align:center;
    padding:15px;
    position:fixed;
    bottom:20px;
    right:20px;
    cursor:pointer;
    display:none;
    color:#fff;
    opacity: 0.8;
}
#GotoTop:hover{
    background: #202b30;
    opacity: 1;
}

.dataTables_wrapper .table-bordered {
    border-top: 1px solid #ddd;
}
#datatable{
    width: 100%!important;
}

.loaderArea {
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}